{{#each this}}
<li>
    <div class="photo-card">
        <img src="{{webformatURL}}" data-lazy="" data-large-image-url="{{largeImageURL}}" alt="{{tags}}" width="320px"
            height="240px">
        <div class="stats">
            <p class="stats-item thumb">
                <i class="material-icons">thumb_up</i>
                {{likes}}
            </p>
            <p class="stats-item visibility">
                <i class="material-icons">visibility</i>
                {{views}}
            </p>
            <p class="stats-item comment">
                <i class="material-icons">comment</i>
                {{comments}}
            </p>
            <p class="stats-item download">
                <i class="material-icons">cloud_download</i>
                {{downloads}}
            </p>
        </div>
    </div>
</li>
{{/each}}